/* Reseteamos algunos estilos predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo y tipografía principal */
body {
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Comic Neue', cursive;
    background-color: #e67fe2;
    color: #242424;
    line-height: 1.6;
    padding: 20px;
}

/* Encabezado principal */
h1 {
    text-align: center;
    color: #8b4ac9;
    margin-bottom: 20px;
}

/* Estilo de los formularios */
label {
    font-size: 1.1em;
    color: #2a2929;
    margin-bottom: 5px;
    display: block;
}

select {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: 1px solid #7098f7;
    border-radius: 5px;
    font-size: 1em;
}

/* Estilo del botón */
button {
    background-color: #e5f892;
    color: rgb(0, 0, 0);
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e5f892;
}

/* Estilo del div donde se muestra la información */
#obtenido {
    background-color: #8afefc;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 15px;
    margin-top: 20px;
    display: none;
    box-shadow: 0 4px 6px rgba(117, 163, 249, 0.1);
}

/* Información dentro del div */
#obtenido br {
    margin: 5px 0;
}

/* Cuadro de texto con información adicional */
#obtenido p {
    font-size: 1.1em;
    color: #000000;
    margin-bottom: 10px;
}

#obtenido b {
    color: #000000;
}
